-e .[standard]

# Explicit optionals
wsproto==0.15.*

# Packaging
twine
wheel

# Testing
autoflake
black
codecov
flake8
isort
pytest
pytest-cov
pytest-mock
requests
mypy
trustme

# Documentation
mkdocs
mkdocs-material

